.modalPortal {
  height: 70vh;
  width:70vw;
  max-height: 550px;
  max-width: 800px;
  position: relative;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  background-color: #880e1f;
}

.modalPortal .modalCloseBtn {
  position: absolute;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3498db;
  padding: 6px 15px 6px 15px;
  text-decoration: none;
  cursor: pointer;
}

.modalPortal .modalCloseBtn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.cardContent {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.cardContent .cardTitle {
  font-size: 38px;
  text-align: center;
  padding-bottom: 10px;
  color: #fefefe;
  text-shadow: 1px 1px black;
}

.cardContent div{
  width: 90%;
  margin: 0 auto;
}

.cardContent .cardPortrait {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 5px;
}

.cardContent .cardDescription {
  display: inline-block;
  min-width: 300px;
  max-width: 600px;
  position: absolute;
  margin-top: 30px;
  float: right;
  text-align: center;
  font-size: 24px;
  color: #fefefe;
  text-shadow: 1px 1px black;
}
