body {
  background-color: black;
  font-family: 'Jua', sans-serif;
}

.main {
  width: 85%;
  margin: 0 auto;
}

.header img {
  width: 100%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}

.char {
  display: inline-block;
}

.charPage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.charIndex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charBlock {
  position: relative;
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.charThumbnail {
  border: 2px solid red;
  width: 154px;
  height: 154px;
  position: absolute;
}

.charThumbnail:hover {
  opacity: 0.2;
}

.charName {
  position: relative;
  text-align: center;
  color: white;
  top: 75px;
  font-size: 20px;
  z-index: -1;
}

.pager {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: 60%;
  flex-wrap: wrap;
}

.pager a {
  display: inline-block;
  background-color: lightgray;
  border: 1px solid purple;
  cursor: pointer;
  padding: 10px;
}

.loading {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  color: #fefefe;
}
