.charBlock {
  position: relative;
  width: 204px;
  height: 204px;
  cursor: pointer;
}

.charThumbnail {
  border: 2px solid red;
  position: absolute;
}

.charThumbnail:hover {
  opacity: 0.2;
}

.charName {
  position: relative;
  text-align: center;
  top: 100px;
  z-index: -3;
}

.modal {
  z-index: 10000;
}

.overlay {
  z-index: -2;
}
